nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100vw;
  background-color: #4e4332;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

nav span {
  font-family: 'Bungee';
  margin-left: 1.5em;
  margin-right: 1.5em;
  white-space: nowrap;
}

#nav-spacer{
  width: 100%;
}

#nav-action-text {
  font-family: 'Source Sans Pro';
  margin-right: .5em;
}

nav i{
  padding-right:.5em;
  animation-name: floating;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 6px); }
  to   { transform: translate(0, -0px); }    
}