nav {
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:100px;
  width: 100vw;
  background-color: #4e4332;
  color: #FFFFFF;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

}

nav span {
  font-family: 'Bungee';
  margin-left: 1.5em;
  margin-right: 1.5em;
  white-space: nowrap;
}

#nav-spacer{
  width:100%;
}

#nav-action-text {
  font-family: 'Source Sans Pro';
}

