article{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #f0ede9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-bottom: 2em;
  border-radius: 3px;
  margin-left:0.3em;
  margin-right:0.3em;
}

article:hover{
  box-shadow: 7px 7px 6px 0px gray;
  transform: translate(-3px, -3px);
}

article header{
  width:100%;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 0;
  height: auto;
  flex: 0 1 auto;
}

article footer{
  height: max-content;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  max-height: fit-content;
  height: auto;
  flex: 0 1 auto
}

.post-content{
  flex: 2 1 auto;
  max-width:50ch;
}

.div-line{
  height: 2px;
  background-color: gray;
  width: 100%;
}

.user-icon-name{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.user-icon-name img{
  align-self: center;
}

.user-icon-name h2{
  font-size: 1.2em;
  margin-top: 1em;
  margin-left: 0.5em;
}

.user-tag h3{
  font-size: 0.75em;
  color: rgb(152, 109, 72);
}

article header{
  align-items: baseline;
}

.post-age{
  white-space: nowrap;
}

.interact{
  display: flex;
  flex-direction: row;
}

article footer{
  flex-grow: 1;
}

article i{
  padding-right: 0.5em;
  font-size: .8em;
}

article i:hover{
  color:rgb(225, 144, 23);
  filter: drop-shadow(1px 1px 1px #8a8a8a);
}